
.instagram i{
        padding-left: 60px;
        padding-right: 5px;
        color: rgb(196, 193, 193);
}
.instagram a{
        font-size: 25px;
        font-family: 'Lobster', cursive;
        color: gray !important;
}
.d-flex .dropdown{
        font-size: 25px; 
        padding-right: 35px; 
}
.dropdown{
        padding-right: 5px;
        padding-bottom: 5px;
}