.instagram i{
        padding-left: 60px;
        padding-right: 5px;
        color: rgb(196, 193, 193);
}
.instagram a{
        font-size: 25px;
        font-family: 'Lobster', cursive;
        color: gray !important;
}
.d-flex .dropdown{
        font-size: 25px; 
        
}
.dropdown{
        padding-right: 5px;
        padding-bottom: 5px;
}
img{
        width: 373px;
        height: 350px;
}
.row{
        margin-bottom: 5px;
}

.text-center{
        margin-bottom: 20px;
        
}

.box{
        background:white;
        width: 550px;
        
        margin: auto;
        
        border: 1px solid rgb(226, 226, 226);
        border-radius: 4px;
}

div.header{
        padding: 15px;
        font-family: monospace;
        font-size: 10px;
        
}
    
    
.box .header .date{
        float: right;
        background-color: transparent;
        color: rgb(129, 126, 126);
        margin: 0;
}
.date{
        font-size: medium;
}
div.header h2{
        margin: 0;
    
}
section{
        padding-top: 60px;
        background-color: rgb(226, 226, 226);
}